<div class="container dashboard" style="position: relative;">
  <div class="header" style="position: relative;">
    <div class="main_title">Apphakker</div>
    <div class="experience_area" style="">
      <div class="bar" style="height: 20px; overflow: hidden; border-radius: 4px;">
        <div class="bar_completed" style="height: 20px; display: inline-block; background-color: orange; width: 40%;">

        </div>
      </div>
    </div>
    <div class="account_actions"><%= link_to "#", :class => "logout button" do %>
      <i class="icon-signout"></i>
      <% end %></div>
  </div>
  <div class="sidebar">
    <div class="player_status">
      <img class="player_image" src="http://www.gravatar.com/avatar/<%= Digest::MD5.hexdigest('michiel.sikkes@gmail.com') %>?s=200" />
      <div class="player_name">
        Michiel Sikkes
      </div>
    </div>

    <div class="widget hackerjuice">
      <div class="widget_header">
        Deze week
        <div class="subtitle">nog 3 dagen</div>
      </div>
      <div class="widget_body">
        <div class="juice_status github">
          <i class="icon-github"></i> 0 / 40 commits
        </div>
        <div class="juice_status deploys">
          <i class="icon-cloud"></i> 0 / 6 deploys</i>
        </div>
        <div class="juice_status tests">
          <i class="icon-tasks"></i> 4 tests</i>
        </div>
        <div class="juice_status blog_posts">
          <i class="icon-rss"></i> 3 / 1 blog posts</i>
        </div>
      </div>
    </div>
  </div>
  <div class="content_area">
    <div class="first_step" style="overflow: hidden;">

      <div class="picture" style="float: left; font-size: 60px; margin-right: 20px;">
        <i class="icon-check"></i>
      </div>

      <div class="text" style="margin-left: 80px;">
        <p class="introduction">Mooi. Je hebt een GitHub account dus je kan aan de slag. Voor alle goede acties die jij als ontwikkelaar onderneemt, krijg je van ons hacker juice. <strong>Hacker juice bewijst dat jij er wat van kan.</strong></p>
        <p class="introduction">Voor we uitleggen hoe deze online course werkt, moet je eerst je welverdiende hacker juice claimen.</p>
      </div>

      <div class="claim_score" style="padding-bottom: 5px; border-bottom: 1px solid #eee;">
        <a href="#" onclick="$(this).parents('.claim_score').addClass('active'); return false;" class="button" style="float: right; font-size: 12px; margin: 15px;">Claim</a>
        <div class="icon_wrapper" style="background-color: #fff; padding: 5px; display: inline-block; border-radius: 50px;">
          <i class="score_type icon-github" style="line-height: 40px; text-align: center; font-size: 30px; width: 40px; height: 40px; background-color: #fff; border-radius: 40px;"></i>GitHub account aangemaakt.
        </div>
      </div>

    </div>

    <div class="claim_scores" style="margin: 10px 40px;">
    </div>
  </div>
</div>
