<div class="picture" style="float: left; font-size: 60px; margin-right: 20px;">
  <i class="icon-check"></i>
</div>

<div class="text" style="margin-left: 80px;">
  <p class="introduction">Mooi. Je hebt een GitHub account dus je kan aan de slag. Voor alle goede acties die jij als ontwikkelaar onderneemt, krijg je van ons hacker juice. <strong>Hacker juice bewijst dat jij er wat van kan.</strong></p>
  <p class="introduction">Voor we uitleggen hoe deze online course werkt, moet je eerst je welverdiende hacker juice claimen. Nadat je alle opdrachten hebt geclaimd, kun je verder gaan.</p>
</div>

<div id="player_assignments" class="claim_scores" style="margin: 40px 0;">

  <%= render @assignments %>

</div>

<div id="player_achievements" class="claim_scores" style="<% if @achieved_assignments.empty? %> display: none; <% end %> margin: 40px 0;">

  <h2>Voltooid</h2>

  <%= render partial: "achievements/achievement", collection: @achieved_assignments %>

</div>

<p id="continue_button" class="continue" <% if current_player.assignments != Assignment.starter %>style="display: none"<% end %>><%= link_to "Ga verder", assignment_set_path(AssignmentSet.first), :class => "button" %></p>