<div class="picture" style="float: left; font-size: 60px; margin-right: 20px;">
  <i class="icon-check"></i>
</div>

<div class="text" style="margin-left: 80px;">
  <p class="introduction">Mooi. Je hebt een GitHub account dus je kan aan de slag. Voor alle goede acties die jij als ontwikkelaar onderneemt, krijg je van ons hacker juice. <strong>Hacker juice bewijst dat jij er wat van kan.</strong></p>
  <p class="introduction">Voor we uitleggen hoe deze online course werkt, moet je eerst je welverdiende hacker juice claimen. Nadat je alle opdrachten hebt geclaimd, kun je verder gaan.</p>
</div>

<div id="assignment_status">

  <%= render "assignment_sets/assignment_status", assignments: @assignments, achieved_assignments: @achieved_assignments %>

</div>