<%= content_tag_for(:div, assignment, style: "border-radius: 3px; border: 1px solid #ccc; padding: 10px 15px; margin-bottom: 10px; box-shadow: #e0e0e0 0 1px 2px;") do %>

  <div class="score_message">
    <%= link_to "Claim", claim_achievement_path(:id => 1, :format => :js), :class => "button", :style => "float: right; font-size: 12px;", :remote => true, :method => :post %>
    <i class="score_type icon-github" style="display: inline-block; width: 40px; text-align: center; font-size: 30px; margin-right: 10px;"></i> <span style="vertical-align: 20%; display: inline-block; line-height: 30px;"><%= assignment.name %></span>
  </div>

<% end %>