<div class="login_box">
  <% if player_signed_in? %>
    <div class="signup_buttons">
      <%= link_to "Uitloggen", destroy_session_path, :class => "button" %>
    </div>
  <% else %>
    <h1>Begin je training</h1>

    <div class="signup_buttons">
      <%= link_to "Log in met een GitHub account", player_omniauth_authorize_path("github"), :class => "button" %>
    </div>
  <% end %>
</div>