<% if player_signed_in? %>
  <p>
    <%= current_player.inspect %>
  </p>
  <p>
    <%= link_to "Sign out", destroy_session_path %>
  </p>
<% end %>

<h1>Play a game</h1>

<p>First, create an account on GitHub. Then:</p>

<p><%= link_to "Start Hakking", player_omniauth_authorize_path("github") %></p>