$fg-column: 60px;             // Column Width
$fg-gutter: 25px;             // Gutter Width
$fg-max-columns: 12;          // Total Columns For Main Container

$gw-column: 99px;
$gw-gutter: 24px;

body {
  font-family: "Helvetica Neue", sans-serif;
}

strong {
  font-weight: bold;
}

.button {
  @include button(simple, #eee);
  font-size: 16px;
  line-height: 1.5;
}