<div id="assignment_<%= @assignment.id %>" class="assignment achieved" style="border-radius: 3px; border: 1px solid #ccc; padding: 10px 15px; margin-bottom: 10px; box-shadow: #e0e0e0 0 1px 2px; background-color: #0ba; color: #fff; border: 1px solid rgba(0,0,0,0.2);">
  <div class="score_message">
    <i class="icon-ok" style="float: right; font-size: 30px; margin-right: 25px;"></i>
    <i class="score_type icon-github" style="display: inline-block; width: 40px; text-align: center; font-size: 30px; margin-right: 10px;"></i> <span style="vertical-align: 20%; display: inline-block; line-height: 30px;"><%= @assignment.name %></span>
  </div>
</div>